__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg
.ipynb_checkpoints/
.DS_Store
*.csv
*.xlsx
*.csv.gz
*.sdf
*.pdbqt
.idea/
!data/zenodo/tbxt_spr_merged.csv
!data/processed/*.csv
!data/Naar_SMILES.xlsx
!data/folds-pacmap-kmeans6/*.csv
!data/classification-models-try1-rjg/*.csv
